.home{
  background: rgb(51, 87, 134);
  padding: 50px 0px;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: auto;


}


.box {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  grid-gap: 10px;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: #fff;
}

.product-style{
  background: lightgray;
  color: black;
  border-radius: 5px;
  padding: 40px 0px;
  transition: .5s;
  
}

.product-style:hover{
  background: lightsalmon;
  transform: rotateY(deg);

}

.btn-style{
  background: tomato;
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 5px;

}

.btn-style:hover{
  background: rgb(255, 187, 0);
}

.movie-style{
  background: rgba(255, 119, 187, 0.651);
  padding: 40px 0px;
  border-radius: 5px;
}

.movie-style button{
  padding: 10px;
  background: rgba(14, 190, 14, 0.603);
  color: #fff;
  border: none;
  transition: .2s;
}

.movie-style button:hover{
  background: rgb(61, 61, 209);
}

.user-style{
  background: tomato;
  color: #fff;
  border-radius: 5px;
}